{#<!DOCTYPE html>#}
{#<html lang="zh-CN">#}
{#  <head>#}
{#    <meta charset="utf-8">#}
{#    <meta http-equiv="X-UA-Compatible" content="IE=edge">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1">#}
{#    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->#}
{#    <meta name="description" content="">#}
{#    <meta name="author" content="">#}
{#    <link rel="icon" href="../../favicon.ico">#}
{##}
{#    <title>Blog 公司</title>#}
{##}
{##}
{#    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">#}
{##}
{#    <link href="https://v3.bootcss.com/examples/blog/blog.css" rel="stylesheet">#}
{##}
{#  </head>#}
{##}
{#  <body>#}
{##}
{#    <div class="blog-masthead">#}
{#      <div class="container">#}
{#        <nav class="blog-nav">#}
{#          <a class="blog-nav-item active" href="#">Home</a>#}
{#          <a class="blog-nav-item" href="#">New features</a>#}
{#          <a class="blog-nav-item" href="#">Press</a>#}
{#          <a class="blog-nav-item" href="#">New hires</a>#}
{#          <a class="blog-nav-item" href="#">About</a>#}
{#        </nav>#}
{#      </div>#}
{#    </div>#}
{##}
{#    <div class="container">#}
{#        这里是header部分#}
{#     {% include 'header.html' %}#}
{#      <div class="row">#}
{#          武汉千锋公司 {{ nextis }}#}
{#      </div><!-- /.row -->#}
{##}
{#    </div><!-- /.container -->#}
{##}
{#    这里是footer部分#}
{#    {% include 'footer.html' %}#}
{#    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>#}
{#    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>#}
{#    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>#}
{#    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->#}
{#    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>#}
{#  </body>#}
{#</html>#}
{% extends  'base.html' %}

{% block titles %}
    公司
{% endblock %}


{% block bodies %}
    纳斯达克 纽交所  A股  新三板
{% endblock %}